/* ROUNDY THINGS ALL */

/*
.theme-dark, .theme-light {
    --modal-border-radius: 15px 15px 15px 15px;
    --floating-border-radius: 15px 15px 15px 15px;
    --expanded-border-radius: 15px 15px 15px 15px;
    --hover-border-radius: 10px 10px 10px 10px;
}
*/

.userPopout-3XzG_A {border-radius: var(--modal-border-radius) }
.menu-3sdvDG {border-radius: var(--expanded-border-radius); background-color: var(--background-secondary) }
.theme-dark .container-3ayLPN, .elevationBorderHigh-2WYJ09 {border-radius: var(--floating-border-radius) }
.contentWrapper-SvZHNd {border-radius: var(--floating-border-radius) }
.messagesPopoutWrap-1MQ1bW {border-radius: var(--floating-border-radius) }
.container-enaOkj {border-radius: var(--expanded-border-radius) }
.root-SR8cQa {border-radius: var(--expanded-border-radius) }
.root-1gCeng, .footer-2gL1pp {border-radius: var(--expanded-border-radius) }
.input-2_SIlA {border-radius: var(--modal-border-radius) }
.colorDefault-2K3EoJ.focused-3afm-j {border-radius: var(--hover-border-radius) }
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp {border-radius: var(--hover-border-radius) }
.container-1CE3eW {border-radius: var(--expanded-border-radius) }
.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n {border-radius: var(--hover-border-radius) }
.clickable-1JJAn8 .layout-2DM8Md {border-radius: var(--hover-border-radius) }
.wrapper-2jXpOf .content-1x5b-n {border-radius: var(--hover-border-radius) }
.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n {border-radius: var(--hover-border-radius) }
.clickable-1JJAn8 .layout-2DM8Md {border-radius: var(--hover-border-radius) }
.colorDefault-2K3EoJ.focused-3afm-j {border-radius: var(--hover-border-radius); }
.theme-dark .option-96V44q.selected-rZcOL- {border-radius: var(--hover-border-radius); }
.colorDefault-2K3EoJ.focused-3afm-j {border-radius: var(--hover-border-radius); }
.modalContent-1T1Tix { border-radius: 12px;}
.theme-dark .footer-2gL1pp {border-radius: var(--hover-border-radius) ; margin-top: 5px;}
.lookFilled-1Gx00P.colorBrand-3pXr91 {border-radius: var(--hover-border-radius) }
.theme-dark .message-2qRu38 {border-radius: var(--hover-border-radius) }
.lookFilled-1Gx00P.colorRed-1TFJan {border-radius: var(--hover-border-radius) }
.lookOutlined-3sRXeN.colorRed-1TFJan {border-radius: var(--hover-border-radius); }
.userPopout-3XzG_A {border-radius: var(--modal-border-radius);}
.theme-dark .lookOutlined-3sRXeN.colorGrey-2DXtkV {border-radius: var(--hover-border-radius); }

    .container-1ov-mD>* {
      border-radius: var(--hover-border-radius);
    }
    .messages-3G3erD, .message-2g38UB {
      border-radius: var(--hover-border-radius);
    }

    .container-3XJ8ns {
      border-radius: var(--hover-border-radius);
    }

    .inner-2P4tQO {
      border-radius: var(--hover-border-radius);
    }

    .theme-dark .elevationHigh-1PneE4 {
      border-radius: var(--hover-border-radius);
    }

    .lookFilled-1Gx00P.colorGreen-29iAKY {
      border-radius: var(--hover-border-radius);
  }
  
  .theme-dark .auditLog-3jNbM6 {
    border-radius: var(--hover-border-radius);
  }

  .searchBar-3dMhjb {
    border-radius: var(--hover-border-radius);
  }

  .theme-dark .inset-3sAvek {
    border-radius: var(--hover-border-radius);
  }
  .theme-dark .outer-1AjyKL.active-1xchHY, .theme-dark .outer-1AjyKL.interactive-3B9GmY:hover {
    border-radius: var(--hover-border-radius);
  }

  .selected-aXhQR6 .layout-2DM8Md {
    border-radius: var(--hover-border-radius);
  }
